/* =============== */
/* [TYPE = RADIO ] */
/* =============== */
.radio {
  cursor: pointer;
}

.radio [type="radio"]:checked,
.radio [type="radio"]:not(:checked) {
  position: absolute;
  opacity: 0;
}

.radio [type="radio"] + span.checker {
  color: #455a64;
  border: 2px solid #607d8b;
  display: inline-block;
  text-align: center;
  position: relative;
  border-radius: 100%;
  -webkit-transition: border-color ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s;
}

.radio [type="radio"]:checked + span.checker:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  border: 4px solid;
  border-color: inherit;
  width: 0;
  height: 0;
  border-radius: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 1;
}

/* DISABLED */
.radio [type="radio"]:disabled + span.checker {
  cursor: not-allowed;
  opacity: 0.5;
}

/* Primary */
.radio.radio-primary span.checker {
  color: #1565c0;
  border-color: #1e88e5;
}

/* Info */
.radio.radio-info span.checker {
  color: #00bcd4;
  border-color: #00bcd4;
}

/* Success */
.radio.radio-success span.checker {
  color: #3d8b40;
  border-color: #3d8b40;
}

/* Warning */
.radio.radio-warning span.checker {
  color: #ee3900;
  border-color: #e43700;
}

/* Danger */
.radio.radio-danger span.checker {
  color: #c82333;
  border-color: #bd2130;
}

/* Teal */
.radio.radio-teal span.checker {
  color: #3ca982;
  border-color: #359674;
}
