<!-- Sidebar mobile toggler -->
<div class="sidebar-mobile-toggler text-center">
  <a class="sidebar-mobile-main-toggle"> <i class="icon-arrow-left8"></i> </a>
  Navigation
  <a class="sidebar-mobile-expand">
    <i class="icon-screen-full"></i> <i class="icon-screen-normal"></i>
  </a>
</div>
<!-- /sidebar mobile toggler -->

<!-- Sidebar content -->
<div class="sidebar-content">
  <!-- User menu -->
  <div class="sidebar-user bg-dark-alpha">
    <div class="card-body">
      <div class="media">
        <div class="mr-3">
          <a class="btn bg-primary-800 rounded-round btn-icon btn-sm">
            <span class="letter-icon">Z</span>
          </a>
        </div>

        <div class="media-body">
          <div class="media-title font-weight-semibold">Zain Zafar</div>
          <div class="font-size-xs opacity-50">
            <span class="text-capitalize">Manager</span>, Islamabad
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /user menu -->

  <!-- Main navigation -->
  <div class="card card-sidebar-mobile">
    <ul class="nav nav-sidebar">
      <!-- Main -->
      <li class="nav-item-header">
        <div class="text-uppercase font-size-xs line-height-xs">Main</div>
        <i class="icon-menu" title="Main"></i>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard" routerLinkActive="bg-eventrone" [routerLinkActiveOptions]="{ exact: true }">
          <i class="icon-home4"></i> <span>Dashboard</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/invoices" routerLinkActive="bg-eventrone"><i class="icon-stack"></i><span>Invoices</span></a>
      </li>
      <!-- /main -->
    </ul>
  </div>
  <!-- /main navigation -->
</div>
<!-- /sidebar content -->
