<!-- Main navbar -->
<div app-navbar class="navbar navbar-expand-md navbar-light"></div>
<!-- /main navbar -->

<!-- Page content -->
<div class="page-content">
  <!-- Main sidebar -->
  <div app-sidebar class="sidebar sidebar-dark sidebar-main sidebar-expand-md"></div>
  <!-- /main sidebar -->

  <!-- Main content -->
  <div class="content-wrapper">
    <router-outlet></router-outlet>

    <!-- Footer -->
    <app-footer></app-footer>
    <!-- /footer -->
  </div>
  <!-- /main content -->
</div>
<!-- /page content -->
